.div1{
    width: 50px;
    height: 20px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    border: 2px solid #999;
}
.div1 .left{
    position: absolute;
    left:0px;
}
.div1 .right{
    position: absolute;
    right:0px;
}
.div2{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    /*margin-top: -3px;*/
    background: #ffffff;
    position: absolute;
}
.open1{
    background: #f50e4c;
}
.open2{
    top: 0px;
    left: 0px;
}
.close1{
    width: 50px;
    height: 20px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background: #659dea;
}
.close2{
    right: 0px;
    /*left: 25px;*/
    /*top: 3px;*/
}
.left1{
    float: left;
}